Problem set 1: Data importing and cleaning

Due: 11:59pm on Friday, September 6 by uploading to Brightspace

Your name:

1. Data importing: "data_finance.csv" contains a dataset with information about sales transactions. Write the appropriate code for each of the tasks below. This section should be completed without generative AI, but with open access to static online resources like course material, stackoverflow, blogs with sample code, etc.

#other requirements(exporting the processed documents to a new folder, using code data_finance.to_csv("./processed/data_finance.csv", index=False, header=True))

In [13]:
# Load the pandas library
import pandas as pd
# Import the CSV file 'data_finance.csv' into a DataFrame
data=pd.read_csv('./data/processed/data_finance.csv')
# Display the column names
print("#1.display the column names")
display(data.columns)
# Identify the data types of each column
print("#2.Identify the data types of each column")
display(data.dtypes)
# Display the first 5 rows of the DataFrame
print("#3.Display the first 5 rows of the DataFrame")
display(data.head(5))
# Displzay the last 5 rows of the DataFrame
print("#4.Display the last 5 rows of the DataFrame")
display(data.tail(5))
# Display a random sample of 5 rows
print("#5.Display a random sample of 5 rows")
display(data.sample(5))
# Calculate the total number of rows and columns in the DataFrame
print("#6.Calculate the total number of rows and columns in the DataFrame")
display(data.shape)
# Display summary statistics for the quantity and price，inspected columns
print("#7.Display summary statistics for the quantity and price，inspected columns")
display(data[['quantity','price','inspected']].describe())

#1.display the column names

Index(['transaction_id', 'product_name', 'quantity', 'price', 'inspected'], dtype='object')

#2.Identify the data types of each column

transaction_id      int64
product_name       object
quantity            int64
price             float64
inspected           int64
dtype: object

#3.Display the first 5 rows of the DataFrame

   transaction_id product_name  quantity  price  inspected
0               1        Apple         7  12.34          1
1               2       Banana         2  19.05          1
2               3       Cherry         9   5.81          1
3               4         Date         4   1.76          1
4               5   Elderberry         8  10.45          1

#4.Display the last 5 rows of the DataFrame

    transaction_id          product_name  quantity  price  inspected
20              21          Vanilla bean         9  17.29          1
21              22            Watermelon         8  13.67          1
22              23                 Xigua         3  21.89          1
23              24  Yellow passion fruit         2  15.54          1
24              25              Zucchini         6  24.72          1

#5.Display a random sample of 5 rows

    transaction_id          product_name  quantity  price  inspected
22              23                 Xigua         3  21.89          1
23              24  Yellow passion fruit         2  15.54          1
3                4                  Date         4   1.76          1
4                5            Elderberry         8  10.45          1
2                3                Cherry         9   5.81          1

#6.Calculate the total number of rows and columns in the DataFrame

(25, 5)

#7.Display summary statistics for the quantity and price，inspected columns

        quantity      price  inspected
count  25.000000  25.000000       25.0
mean    5.520000  12.514800        1.0
std     2.902872   7.346783        0.0
min     1.000000   0.990000        1.0
25%     3.000000   6.870000        1.0
50%     6.000000  12.340000        1.0
75%     8.000000  18.220000        1.0
max    10.000000  24.720000        1.0

2. Generative AI comparison. Use a reliable generative AI like ChatGPT, Claude, Bing, Jupyter AI, etc. to answer the same questions as Section 1. You should alter the prompt given to the AI to maximize the accuracy and efficiency of its output. Paste both your prompt and the generative AI's output below.

Prompt:

In [14]:
# AI generated code
import pandas as pd

# Load the pandas library and import the CSV file 'data_finance.csv' into a DataFrame
df = pd.read_csv("../raw/data_finance.csv")

# Display the column names (换行显示)
print("Column names:\n" + "\n".join(df.columns))

# Identify the data types of each column
print("\nData types:\n", df.dtypes)

# Display the first 5 rows of the DataFrame
print("\nFirst 5 rows:")
print(df.head())

# Display the last 5 rows of the DataFrame
print("\nLast 5 rows:")
print(df.tail())

# Display a random sample of 5 rows
print("\nRandom 5 rows:")
print(df.sample(5, random_state=42))

# Calculate the total number of rows and columns in the DataFrame
print("\nShape (rows, columns):", df.shape)

# Display summary statistics for the quantity, price, and inspected columns
print("\nSummary statistics for quantity, price, inspected:")
print(df[['quantity', 'price', 'inspected']].describe())

FileNotFoundError: [Errno 2] No such file or directory: '../raw/data_finance.csv'

3. Data cleaning: "data_students.tsv" contains a dataset with information about students. Write the appropriate code for each of the tasks below. This section should be completed without generative AI, but with open access to static online resources like course material, stackoverflow, blogs with sample code, etc.

In [ ]:
# Import "data_students.tsv" into a dataframe
data2 = pd.read_csv("./data/raw/data_students.tsv", sep="\t")
# Rename the columns to improve machine and human-readability
# change "student_id" to "id", "math grade" to "math", "grade in english" to "english"
# (I do this directly in the csv file, so I don't need to rename it here)
#or use code: data2=data2.rename(columns={})
# Display the number of missing values in each column
print("#1.Display the number of missing values in each column")
number=data2.isnull().sum()
display(number)
# Create a new column identifying whether the age column is missing
print("#2.Create a new column identifying whether the age column is missing")
data2["missing"]=data2["age"].isna().map({True:'missing age', False: 'not missing'})
display(data2["missing"].head(5))
# Replace missing values in the 'age' column with the mean age
print("#3.Replace missing values in the 'age' column with the mean age")
data2["age"]=data2["age"].fillna(data2["age"].mean())
display(data2["age"].head(5))
# Convert the 'gender' column to lowercase
print("#4.Convert the 'gender' column to lowercase")
data2["sex"]=data2['sex'].astype(str).str.lower()
display(data2["sex"].head(5))
# Split the location column into separate columns for city and state
print("#5.Split the location column into separate columns for city and state")
data2["location"]=data2["location"].astype(str) 
data2[['city','state']]=data2["location"].str.split(",",expand=True)
display(data2[["city","state"]].head(5))
# Save the cleaned data to a new CSV file with an appropriate name
data2.to_csv('./data/processed/data_student.csv', index=False,header=True)

#1.Display the number of missing values in each column

id          0
name        0
age         5
sex         0
location    0
math        0
science     0
history     0
english     0
dtype: int64

#2.Create a new column identifying whether the age column is missing

0    not missing
1    not missing
2    not missing
3    not missing
4    missing age
Name: missing, dtype: object

#3.Replace missing values in the 'age' column with the mean age

0    23.000000
1    31.000000
2    30.000000
3    24.000000
4    25.238095
Name: age, dtype: float64

#4.Convert the 'gender' column to lowercase

0     female
1       male
2    neither
3    unknown
4       male
Name: sex, dtype: object

#5.Split the location column into separate columns for city and state

      city state
0  Houston    TX
1  Phoenix    AZ
2  Chicago    IL
3   Denver    CO
4  Atlanta    GA

4. Generative AI comparison. Use a reliable generative AI like ChatGPT, Claude, Bing, Jupyter AI, etc. to answer the same questions as Section 3. You should alter the prompt given to the AI to maximize the accuracy and efficiency of its output. Paste both your prompt and the generative AI's output below.
import pandas as pd
from pathlib import Path

In [ ]:
#4 AI code

In [ ]:
# 0) Paths
# -----------------------------
RAW_PATH = "./data/raw/data_students.tsv"
OUT_DIR  = Path("./data/processed")
OUT_DIR.mkdir(parents=True, exist_ok=True)
OUT_PATH = OUT_DIR / "data_student.csv"   # Save as CSV per instructions

# -----------------------------
# 1) Load data (TSV -> use sep="\t")
# -----------------------------
df = pd.read_csv(RAW_PATH, sep="\t")
display(type(df))
display(df.head(3))

# -----------------------------
# 2) Show missing counts by column
# -----------------------------
missing_counts = df.isna().sum()
display(missing_counts)

# -----------------------------
# 3) Add a new column indicating if 'age' is missing
#    (text label; use .astype(int) for 0/1 if you prefer)
# -----------------------------
df["age_missing"] = df["age"].isna().map({True: "missing age", False: "not missing"})

# -----------------------------
# 4) Replace missing 'age' with the mean (mean skips NaN by default)
#    Ensure 'age' is numeric first
# -----------------------------
df["age"] = pd.to_numeric(df["age"], errors="coerce")
age_mean = df["age"].mean()
df["age"] = df["age"].fillna(age_mean)

# -----------------------------
# 5) Convert the gender/sex column to lowercase
#    (your file uses 'sex'; change to 'gender' if needed)
# -----------------------------
df["sex"] = df["sex"].astype("string").str.strip().str.lower()

NameError: name 'Path' is not defined

5. Generative AI evaluation. Compare the code you produced using static sources to that produced by the generative AI. Write 2-3 paragraphs evaluating the strengths and weaknesses of both approaches. In doing so, you should answer the following questions:
* Having now seen the code produced by Generative AI, how would you have written your code differently?
* Where does Generative AI excel, and where did it fall short?
* What was important in writing your prompt?

After seeing the code from the generative AI, I would keep my own style simple but add a few habits. I’d convert columns to the right types before filling values, add a small “missing” flag before imputation, and avoid inplace=True so my steps are clearer. I’d also handle the location split more carefully and make sure any output folder exists before saving. These are small changes, but they make the code safer and easier to read.

The AI was fast and covered many edge cases I might skip. It reminded me about data types, directory creation, and safer string operations. But it also guessed things about my project, like file names or paths, and sometimes added extra steps I didn’t need. That mismatch is why some AI code broke even though the ideas were good.

For the prompt, I think there are two things mattered most: clear, accurate column names and relative paths. When I state the exact columns I have and the exact folder paths I use, the AI’s code lines up with my data and runs with fewer fixes.